/* Main */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #dddddd;
    margin: 0;
    background-color: #000;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* Header */

#mainHeader {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    height: 50px;
}

/* Logo */

#logo {
    font-size: 1.2em;
}

.mediawiki {
    color: #60889C;
}

.gr {
    color: #BCFE3D;
    font-size: 1.8em;
}

.bigI {
    font-size: 1.5em;
}

/* Gallery */

#Gallery {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    text-align: center;
}

.imgContainer {
    padding: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.blank {
    background: #000 url(../img/loading.gif) no-repeat center center;
}

.broken {
    background: #000 url(../img/broken_image.jpg) no-repeat center center;
    width: 140px;
    height: 140px;
}

.broken:before {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: red;
    content: 'Broken Image';
}

#Gallery .imgContainer img {
    width: 100%;
    max-height: 300px;
    border: 0;
}

#Gallery .blank img {
    display: none;
}

#bottomTrigger {
    width: 80px;
    height: 10px;
    margin: 0 auto;
    padding: 50px;
    background: #000 url(../img/contentLoading.gif) no-repeat center;
}

/* Image Preview */

#Preview {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #000;
    margin: 0;
    overflow: hidden;
}

.icon {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 999;
    cursor: pointer;
    opacity: 0.6;
}

#closePreview {
    top: 10px;
    right: 10px;
    background: #fff url(../img/close.png) no-repeat center;
}

#previewItems {
    position: relative;
    width: 500%;
    height: 100%;
    margin: 0;
    padding:0;
    list-style: none;
    overflow: hidden;
    left: 0;
    display: block;
}

#previewItems li {
    display: block;
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}

#Preview figure {
    width: 80%;
    height: 100%;
    margin: 20px auto;
}

#Preview img {
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

#Preview figcaption {
    padding: 5px;
    text-align: center;
}

.bigImageContainer {
    width: 100%;
    max-height: 70%;
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-45%);
}

.previous {
    position: fixed;
    top: 50%;
    left: 6%;
    margin-top: -20px;
    background: #fff url(../img/previous.png) no-repeat center;
}

.next {
    position: fixed;
    top: 50%;
    right: 6%;
    margin-top: -20px;
    background: #fff url(../img/next.png) no-repeat center;
}

/* Media specific styles */

@media only screen
and (min-width : 321px) {
    .imgContainer {
        width: 20%;
        min-height: 70px;
    }
}

@media only screen
and (max-width : 320px) {
    .imgContainer {
        width: 25%;
        min-height: 70px;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .imgContainer {
        width: 18%;
        min-height: 50px;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .imgContainer {
        width: 22%;
        min-height: 50px;
    }
}

@media only screen
and (min-width: 1224px) {
    .imgContainer {
        width: 17%;
        min-height: 200px;
    }
}

/* Message */

#Message {
    display: none;
    font-size: 1.5em;
    width: 100%;
    position: fixed;
    top: 50%;
    text-align: center;
    background: #000;
}
