/* Main */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #dddddd;
    margin: 0;
    background-color: #000;
}

/* Header */

body header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    height: 50px;
}

/* Logo */

#logo {
    font-size: 120%;
}

.mediawiki {
    color: #60889C;
}

.gr {
    color: #BCFE3D;
    font-size: 180%;
}

.bigI {
    font-size: 150%;
}

/* Gallery */

#Gallery {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

#Gallery img {
    margin: 10px;
}